MONGODB_URI = your_mongodb_connection_string_here
PORT = your_port_number_here

# Client URL for CORS
CLIENT_URL = your_client_url_here

# image cloud store
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here


JWT_SECRET=your_super_secret_jwt_key_min_32_characters_here
JWT_EXPIRES_IN=7d
